@font-face {
  font-family: "Fira Sans";
  src: url(/fonts/FiraSans/FiraSans-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans Condensed";
  src: url(/fonts/FiraSansCondensed/FiraSansCondensed-Light.ttf)
    format("truetype");
  font-display: swap;
  font-weight: 300;
}
