* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: hsl(218, 42%, 9%);
  color: hsl(224, 73%, 97%);
  font: 16pt "Roboto Condensed", sans-serif;
  letter-spacing: 0.5px;
  height: 100vh;
}

h1,
h2 {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  margin-bottom: 2rem;
}

.website-content {
  padding: 100px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.title {
  font-size: 400%;
}

.subtitle {
  font-size: 200%;
}

.subtitle .pretext {
  opacity: 0.5;
}

.social-links {
  font-size: 30px;
}

.social-links > * + * {
  margin-left: 8px;
}

.social-link {
  opacity: 0.6;
  transition: 0.3s opacity;
}

.social-link:hover {
  opacity: 1;
}

.highlight {
  display: inline-block;
}

.faded {
  opacity: 0.5;
}

.links {
  justify-self: flex-end;
}

.links a {
  opacity: 0.75;
  transition: 0.3s;
}

.links a:hover {
  opacity: 1;
  text-decoration: underline;
}

.links li {
  list-style: none;
  margin-bottom: 0.3rem;
}

@media (max-width: 750px) {
  .website-content {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .highlight {
    display: block;
    height: 100px;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 14pt;
  }
}

::selection {
  background-color: hsl(218, 42%, 9%);
  opacity: 0.5;
}
